[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Alexandre Costa
	email = alexandremcost@gmail.com
[alias]
	pl = pull --rebase
	ch = checkout
	st = status
	lg = log --graph --all --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)%an%Creset %C(yellow)%d%Creset'
[core]
	excludesfile = ~/.gitignore
